<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Workshop vue">
    <link rel="shortcut icon" href="https://playvalorant.com/static/favicon-32x32.1e9e371c.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css">
    <title> Valorant Vue </title>
</head>

<body>
    
    <div class="min-h-screen w-full flex flex-col" id="app">
        {{filtrar}}
        <header class="flex justify-content-center font-semibold text-5xl">
            <img class="w-full h-[400px] object-cover object-left-top"
                src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltee8f0957e791f6a3/653c3759e37ce0001bdd7abf/resizeEp7a3_ISO_Playval.com_Act_Overview_banner_3440x1020_Darkbg.jpg"
                alt="">
        </header>
        <search class="w-full py-5 flex justify-center items-center gap-5">

            <div class="flex items-center p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl">
                <div class="flex bg-gray-100 p-4 w-72 space-x-4 rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-30" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                    <input class="bg-gray-100 outline-none" type="text" placeholder="Search by name" v-model="search" />
                </div>
                <select class="outline-none flex py-3 px-4 rounded-lg text-gray-500 font-semibold cursor-pointer" v-model="selected">
                    <option value="all">All roles</option>
                   <template v-if="roles.length > 0" v-for="role of roles">
                        <option v-bind:value="role">{{role}}</option>
                   </template>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </select>
                <!-- <div
                    class="bg-gray-800 py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
                    <button class="select-none" v-on:click="filtrar">Search</button>
                </div> -->
            </div>
           


        </search>

        <main class="w-full grow flex flex-wrap gap-5 justify-center items-center" id="contenedor">
            <template v-if="agentesFiltrados.length > 0" v-for=" agente in agentesFiltrados ">
                <div class="rounded overflow-hidden shadow-lg w-1/5 min-w-[300px]">
                    <img v-if="agente.fullPortrait" class="w-full"
                        v-bind:src="agente.fullPortrait"
                        v-bind:alt="'Imagen de ' + agente.displayName">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> {{ agente.displayName }} </div>
                        <p class="text-gray-700 text-base"> {{ agente.description }}</p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span
                            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ agente.role.displayName }}</span>
                    </div>
                </div>
            </template>
            <template v-else>
                <h2>No hay agentes</h2>
            </template>
        </main>
        <footer>
            <p class="p-5 text-center">Nicolas Cirulli - Mindhub</p>
        </footer>
    </div>
    <script type="module" src="./tailwind.config.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
</body>

</html>